---
import Layout from "../layouts/Layout.astro";

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="Astro CMS テストサイト">
  <main>
    <div class="content blog">
      <h2>blog</h2>
      <ul class="blog">
        {
          response.contents.map((content: any) => (
            <li>
              <a href={content.id}>{content.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
  }
  .content {
    /* center + max-width:1280px + min-margin: 10px */
    margin-inline: max(10px, 50% - 1280px/2);
  }
  .blog {
    max-width: max-content;
    margin-inline: auto;
    ul {
      li {
        margin: 1em;
      }
    }
  }
</style>
