---
import "the-new-css-reset";
import Head from "../layouts/Head.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Head />
    <slot />
  </body>
</html>

<style is:global lang="scss">
  html {
    min-height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    background-color: $background;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2em 0;
  }
</style>
